/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
.chinhsachwc{
	list-style: none;
}
.chinhsachwc li{
	padding-left: 0px;
	margin-left: 0px !important;
}
.chinhsachwc li img,.dhsjlasd{
	margin-right: 7px;
	width: 14px;
	height: 14px;
	margin-top: -3px;
}
.chinhsachwc li a {
    color: #ff0c0c;
    font-size: 13px;
    font-style: italic;
}
.sxemthem{
	font-style: italic;
}
.sxemthem a{
	color: #ff6000;
	text-decoration: underline;
}
form.variations_form.cart {
    margin-bottom: 0px !important;
}

a.goidient{
	color: #ff6000 !important;
}
.select_option:hover, .select_option.selected {
    border-color: #ff6000 !important;
}
.quantity.buttons_added {
    width: 20%;
}
button.single_add_to_cart_button{
    width: 74%;
}
@media screen and (min-width: 850px){
	.row-divided>.col+.col:not(.large-12) {
	    border-left: 1px solid #ececec;
	}
}
h1.product-title.entry-title {
    font-size: 20px;
}
#tab-description p{
	margin-bottom: 0px !important;
}
span.amount{
	color: #ff6000;
}

.liveevent {
    position: relative;
    display: block;
    color: #f33;
    font-size: 12px;      
}
.khuyendm {

    /* border-radius: 3px; */
    width: 100%;
    overflow: hidden;
    padding: 3px 10px;
}
.khuyendm img{
	width: 40px;
	float: left;
	margin-right: 5px;

}
.liveevent.card .text {
    line-height: 41px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.coupon input[type='submit']{
	background: #ff6000;
	color: #fff;
	text-transform: uppercase
}
.coupon .widget-title{
	    text-transform: uppercase;
	    color: #ff6000;
}
.woocommerce-cart-form__cart-item .quantity.buttons_added {
    width: 70%;
}
p.name.product-title {
    overflow: hidden;
    height: 37px;
}
a.add_to_cart_button.product_type_variable.button.primary.is-outline.mb-0.is-small {
    background: #ff6000;
    color: #fff;
    font-size: 14px;
}
.term-description{
	/*display: none;*/
}
.yith-wacp-content .cart-info {
    padding:0px !important;
    border-bottom:0px !important;
}
.yith-wacp-main .woocommerce-billing-fields {
    border-top: 0px !important;
}
.yith-wacp-content h3.product-title {
    font-size: 14px;
    }
.yith-wacp-content .product-info {
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}
.yith-wacp-content .woocommerce .woocommerce-billing-fields p label{
    display: none !important;
}
.yith-wacp-content .woocommerce .woocommerce-billing-fields p{
    margin-bottom: 0px !important;
}
.yith-wacp-content .woocommerce .woocommerce-billing-fields p input[type='text']{
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.1em !important;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    transition: color .3s, border .3s, background .3s, opacity .3s;
}
.yith-wacp-content .woocommerce .has-border {
    padding: 10px !important;
}
#payment #place_order,.quantity .single_add_to_cart_button.button{
    background-color: #ff0000 !important;
}
.yith-wacp-content .yith-wacp-message{
    display: none;
}
.yith-wacp-main .product-thumb img {
    width: 90px !important;
    border: 1px solid #ff6000;
    padding: 5px;
}
.yith-wacp-main .large-7.col{
    padding: 0px;
}
.yith-wacp-main .large-5{
    padding-right: 0px;
}

.yith-wacp-content .popup-actions .button {

    line-height: 36px !important;
    background: #ff6000 !important;
    color: #fff !important;
}
.yith-wacp-content input#place_order {
    width: 100%;
}
.yith-wacp-content  .woocommerce-additional-fields > h3{
    display: none;
}
.yith-wacp-content  #payment ul.wc_payment_methods{
    display: none !important;
}
.yith-wacp-content #order_review_heading{
    padding-top: 0px !important;
}
.yith-wacp-content .popup-actions {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
}
#yith-wacp-popup .yith-wacp-main {
    padding: 10px 0 !important;
}

.coupon input[type='submit'] {
    background: #ff0000;
}
.yith-wacp-content a.button.continue-shopping {
    background: #ff0000 !important;
}

.is-outline.primary {
    background: #ff6000;
    color: #fff !important;
}
.chiaser .social-icons a{
	margin-bottom: inherit !important;
}